{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}
<div class="container">
    <div class="row ">
        <div class="col-auto">
            <h1 style="font-size: 100px; text-align: center;">{{message}}</h1>
            <h1 style="font-size: 150px; text-align: center;">{{error.status}}</h1>
            <p style="font-size: 22px;">{{error.stack}}</p>
        </div>
    </div>
</div>